ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #777;
}

li {
    float: left;
    border-right: 1px solid #bbb;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #fff;
    color:#111;
}

body{
	margin: 0;
	padding: 0;
}
#container{
	width:1000px;
	margin-right:auto;
	margin-left:auto;
	margin-top:50px;
}
#search-box{
	background-color: black;
	color:white;
	position:fixed;
	width:100%;
	line-height:50px;
	top:0; /*untuk nempel ke atas*/
}
#search-box #box-input{
	background-color:#f1f1f1;
	padding-left:50px;
	text-align:center;
}
#header{
	width:100%; /*<!--100% dari lebar container 1000px-->*/
	padding:10px;
	margin-bottom:10px;
}
#nav{
	float:left;
	background-color:brown;
	width:25%;
}
#content{
	float:left;
	background-color:#005ce6;
	width:75%;
	overflow:auto;
	padding:10px;
	box-sizing: border-box;
	min-height:100px;
	margin-bottom:10px;
}
#footer{ /*id, hanya bisa dipakai di satu tempat*/
	line-height: 50px;
	text-align:center;
	background-color:silver;
}
.customFont{ /*class, bisa dipakai di banyak tempat*/
	color:red;
}
.fontStyle{
	font-style:italic;
}